[tool.poetry]
name = "watchmen-rest"
version = "16.5.0"
description = ""
authors = ["botlikes <75356972+botlikes456@users.noreply.github.com>"]
license = "MIT"
packages = [
    { include = "watchmen_rest", from = "src" }
]

[tool.poetry.dependencies]
python = "^3.9"
fastapi = "^0.75.1"
uvicorn = "^0.17.6"
jsonschema = "^4.4.0"
python-jose = "^3.3.0"
# jose = "^1.0.0"
python-dotenv = "^0.20.0"
starlette-prometheus = { version = "^0.9.0", optional = true }
watchmen-auth = "16.5.0"
watchmen-storage = "16.5.0"

[tool.poetry.dev-dependencies]

[tool.poetry.extras]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
