[tool.poetry]
name = "watchmen-rest"
version = "17.0.0"
description = ""
authors = ["botlikes <75356972+botlikes456@users.noreply.github.com>"]
license = "MIT"
packages = [
    { include = "watchmen_rest", from = "src" }
]

[tool.poetry.dependencies]
python = "~3.12"
fastapi = "^0.112.0"
uvicorn = "^0.30.1"
jsonschema = "^4.22.0"
python-jose = "^3.3.0"
python-dotenv = "^1.0.1"
starlette-prometheus = { version = "^0.9.0", optional = true }
watchmen-auth = { path = "../watchmen-auth", develop = true }
watchmen-storage = { path = "../watchmen-storage", develop = true }
requests = "^2.32.3"

[tool.poetry.dev-dependencies]

[tool.poetry.extras]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
