[tool.poetry]
name = "watchmen-rest-dqc"
version = "18.0.0"
description = ""
authors = ["botlikes <75356972+botlikes456@users.noreply.github.com>"]
license = "MIT"
packages = [
    { include = "watchmen_rest_dqc", from = "src" }
]


[tool.poetry.dependencies]
python = "~3.12"
watchmen-dqc = { path = "../watchmen-dqc", develop = true }
watchmen-rest = { path = "../watchmen-rest", develop = true }
watchmen-storage-mysql = { path = "../watchmen-storage-mysql", develop = true, optional = true }
watchmen-storage-oracle = { path = "../watchmen-storage-oracle", develop = true, optional = true }
watchmen-storage-mongodb = { path = "../watchmen-storage-mongodb", develop = true, optional = true }
watchmen-storage-mssql = { path = "../watchmen-storage-mssql", develop = true, optional = true }
watchmen-storage-postgresql = { path = "../watchmen-storage-postgresql", develop = true, optional = true }
watchmen-storage-oss = { path = "../watchmen-storage-oss", develop = true, optional = true }
watchmen-storage-s3 = { path = "../watchmen-storage-s3", develop = true, optional = true }
uvloop = "^0.19.0"


[tool.poetry.group.dev.dependencies]

[tool.poetry.extras]
mysql = ["watchmen-storage-mysql"]
oracle = ["watchmen-storage-oracle"]
mongodb = ["watchmen-storage-mongodb"]
mssql = ["watchmen-storage-mssql"]
postgresql = ["watchmen-storage-postgresql"]
oss = ["watchmen-storage-oss"]
s3 = ["watchmen-storage-s3"]


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[[tool.poetry.source]]
name = "foo"
url = "https://pypi.org/simple/"
