[tool.poetry]
name = "watchmen-rest-dqc"
version = "16.1.6"
description = ""
authors = ["botlikes <75356972+botlikes456@users.noreply.github.com>"]
license = "MIT"
packages = [
    { include = "watchmen_rest_dqc", from = "src" }
]


[tool.poetry.dependencies]
python = "^3.9"
watchmen-dqc = "16.1.6"
watchmen-rest = "16.1.6"
watchmen-storage-mysql = { version = "16.1.6", optional = true }
watchmen-storage-oracle = { version = "16.1.6", optional = true }
watchmen-storage-mongodb = { version = "16.1.6", optional = true }
watchmen-storage-mssql = { version = "16.1.6", optional = true }
watchmen-storage-postgresql = { version = "16.1.6", optional = true }

[tool.poetry.dev-dependencies]

[tool.poetry.extras]
mysql = ["watchmen-storage-mysql"]
oracle = ["watchmen-storage-oracle"]
mongodb = ["watchmen-storage-mongodb"]
mssql = ["watchmen-storage-mssql"]
postgresql = ["watchmen-storage-postgresql"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
