[tool.poetry]
name = "watchmen-lineage"
version = "18.0.1"
description = ""
authors = ["luke0623 <luke0623@outlook.com>"]
readme = "README.md"
packages = [
    { include = "watchmen_lineage", from = "src" }
]

[tool.poetry.dependencies]
python = "~3.12"
watchmen-data-surface = "18.0.1"
watchmen-pipeline-surface = "18.0.1"
watchmen-inquiry-surface = "18.0.1"
watchmen-inquiry-trino = { version = "18.0.1", optional = true }
watchmen-indicator-surface = "18.0.1"
watchmen-storage-mysql = { version = "18.0.1", optional = true }
networkx = "^3.4.2"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
