[tool.poetry]
name = "watchmen-data-kernel"
version = "17.0.2"
description = ""
authors = ["botlikes <75356972+botlikes456@users.noreply.github.com>"]
license = "MIT"
packages = [
    { include = "watchmen_data_kernel", from = "src" }
]

[tool.poetry.dependencies]
python = "~3.12"
cacheout = "^0.16.0"
pycryptodome = "^3.20.0"
watchmen-meta = "17.0.2"
watchmen-storage-mysql = { version = "17.0.2", optional = true }
watchmen-storage-oracle = { version = "17.0.2", optional = true }
watchmen-storage-mongodb = { version = "17.0.2", optional = true }
watchmen-storage-mssql = { version = "17.0.2", optional = true }
watchmen-storage-postgresql = { version = "17.0.2", optional = true }
watchmen-storage-oss = { version = "17.0.2", optional = true }
watchmen-storage-s3 = { version = "17.0.2", optional = true }

[tool.poetry.dev-dependencies]

[tool.poetry.extras]
mysql = ["watchmen-storage-mysql"]
oracle = ["watchmen-storage-oracle"]
mongodb = ["watchmen-storage-mongodb"]
mssql = ["watchmen-storage-mssql"]
postgresql = ["watchmen-storage-postgresql"]
oss = ["watchmen-storage-oss"]
s3 = ["watchmen-storage-s3"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
