[tool.poetry]
name = "watchmen-cli"
version = "16.0.38"
description = ""
authors = ["botlikes <75356972+botlikes456@users.noreply.github.com>"]
license = "MIT"
packages = [
    { include = "watchmen_cli", from = "src" }
]

[tool.poetry.dependencies]
python = "^3.9"
fire = "^0.4.0"
requests = "^2.27.1"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
