[tool.poetry]
name = "watchmen-pipeline-kernel"
version = "16.0.38"
description = ""
authors = ["botlikes <75356972+botlikes456@users.noreply.github.com>"]
license = "MIT"
packages = [
    { include = "watchmen_pipeline_kernel", from = "src" }
]

[tool.poetry.dependencies]
python = "^3.9"
dask = "^2022.4.0"
distributed = "^2022.4.0"
watchmen-data-kernel = "16.0.38"
watchmen-storage-mysql = { version = "16.0.38", optional = true }
watchmen-storage-oracle = { version = "16.0.38", optional = true }
watchmen-storage-mongodb = { version = "16.0.38", optional = true }
watchmen-storage-mssql = { version = "16.0.38", optional = true }
requests = { version = "^2.27.1", optional = true }

[tool.poetry.dev-dependencies]

[tool.poetry.extras]
mysql = ["watchmen-storage-mysql"]
oracle = ["watchmen-storage-oracle"]
mongodb = ["watchmen-storage-mongodb"]
mssql = ["watchmen-storage-mssql"]
standard_ext_writer = ["requests"]
es_ext_writer = []

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
