[tool.poetry]
name = "watchmen-pipeline-kernel"
version = "17.0.3"
description = ""
authors = ["botlikes <75356972+botlikes456@users.noreply.github.com>"]
license = "MIT"
packages = [
    { include = "watchmen_pipeline_kernel", from = "src" }
]

[tool.poetry.dependencies]
python = "~3.12"
dask = "^2024.7.0"
distributed = "^2024.7.0"
APScheduler = "^3.10.4"
watchmen-data-kernel = "17.0.3"
watchmen-storage-mysql = { version = "17.0.3", optional = true }
watchmen-storage-oracle = { version = "17.0.3", optional = true }
watchmen-storage-mongodb = { version = "17.0.3", optional = true }
watchmen-storage-mssql = { version = "17.0.3", optional = true }
watchmen-storage-postgresql = { version = "17.0.3", optional = true }
requests = { version = "^2.32.3", optional = true }

[tool.poetry.dev-dependencies]

[tool.poetry.extras]
mysql = ["watchmen-storage-mysql"]
oracle = ["watchmen-storage-oracle"]
mongodb = ["watchmen-storage-mongodb"]
mssql = ["watchmen-storage-mssql"]
postgresql = ["watchmen-storage-postgresql"]
standard_ext_writer = ["requests"]
es_ext_writer = []

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
