version: '3'
services:
  watchmen-web-client:
    image: ghcr.io/indexical-metrics-measure-advisory/watchmen-web-client:18.0.1
    container_name: watchmen-web-client
    restart: always
    ports:
      - 3030:80
    volumes:
      - "./nginx/nginx-compose.conf:/etc/nginx/nginx.conf"
    depends_on:
      - watchmen_doll

  watchmen-ingest-client:
    image: ghcr.io/indexical-metrics-measure-advisory/watchmen-ingestion-client:18.0.1
    container_name: watchmen-ingest-client
    restart: always
    ports:
      - 3031:80
    volumes:
      - "./nginx/nginx-compose.conf:/etc/nginx/nginx.conf"
    depends_on:
      - watchmen_doll

  watchmen_doll:
    image: ghcr.io/indexical-metrics-measure-advisory/watchmen-matryoshka-doll-mysql:18.0.1
    container_name: watchmen_doll
    depends_on:
      mysqldb:
        condition: service_healthy
    ports:
      - 8000:8000
    environment:
      CREATE_DQC_TOPICS_ON_TENANT_CREATE: "true"
      ENGINE_INDEX: "false"
      META_STORAGE_ECHO: "false"
      META_STORAGE_HOST: mysqldb
      META_STORAGE_PORT: 3306
      META_STORAGE_USER_NAME: admin
      META_STORAGE_PASSWORD: admin-pwd
      META_STORAGE_NAME: watchmen
      USE_STORAGE_DIRECTLY: "true"
      REPLACE_TOPIC_TO_STORAGE: "true"
      SYNC_TOPIC_TO_STORAGE: "true"
      
    volumes:
      - "./watchmen-doll/log/rotating.log:/app/temp/rotating.log"

  mysqldb:
    image: mysql:8.0
    restart: always
    cap_add:
      - SYS_NICE
    command: ['mysqld', '--character-set-server=utf8mb4', '--collation-server=utf8mb4_unicode_ci','--lower_case_table_names=1','--character-set-client-handshake=false']
    environment:
      MYSQL_DATABASE: watchmen
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin-pwd
      MYSQL_ROOT_PASSWORD: admin-pwd
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
    ports:
      - '3307:3306'
    volumes:
      - ./mysql/init.sh:/docker-entrypoint-initdb.d/init.sh
      - ./mysql/init-scripts:/docker-entrypoint-initdb.d/init-scripts
      - mysqldata:/var/lib/mysql
    healthcheck:
      test: mysqladmin ping -h 127.0.0.1 -u $$MYSQL_USER --password=$$MYSQL_PASSWORD
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  mysqldata:
