[tool.poetry]
name = "watchmen-dqc"
version = "0.1.0"
description = ""
authors = ["botlikes <75356972+botlikes456@users.noreply.github.com>"]
license = "MIT"
packages = [
    { include = "watchmen_dqc", from = "src" }
]

[tool.poetry.dependencies]
python = "^3.9"
pandas = "^1.4.1"
pandas-profiling = "^3.1.0"
APScheduler = "^3.9.1"
watchmen-meta = { path = "../watchmen-meta", develop = true }
watchmen-data-kernel = { path = "../watchmen-data-kernel", develop = true }
watchmen-pipeline-kernel = { path = "../watchmen-pipeline-kernel", develop = true }
watchmen-storage-mysql = { path = "../watchmen-storage-mysql", develop = true, optional = true }
watchmen-storage-oracle = { path = "../watchmen-storage-oracle", develop = true, optional = true }
watchmen-storage-mongodb = { path = "../watchmen-storage-mongodb", develop = true, optional = true }
watchmen-storage-mssql = { path = "../watchmen-storage-mssql", develop = true, optional = true }

[tool.poetry.dev-dependencies]

[tool.poetry.extras]
mysql = ["watchmen-storage-mysql"]
oracle = ["watchmen-storage-oracle"]
mongodb = ["watchmen-storage-mongodb"]
mssql = ["watchmen-storage-mssql"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
