[tool.poetry]
name = "watchmen-dqc"
version = "17.0.1"
description = ""
authors = ["botlikes <75356972+botlikes456@users.noreply.github.com>"]
license = "MIT"
packages = [
    { include = "watchmen_dqc", from = "src" }
]

[tool.poetry.dependencies]
python = "~3.12"
pandas = "^1.5.3"
ydata-profiling = "4.6.0"
numpy = "^1.26.4"
APScheduler = "^3.10.4"
watchmen-meta = "17.0.1"
watchmen-data-kernel = "17.0.1"
watchmen-pipeline-kernel = "17.0.1"
watchmen-storage-mysql = { version = "17.0.1", optional = true }
watchmen-storage-oracle = { version = "17.0.1", optional = true }
watchmen-storage-mongodb = { version = "17.0.1", optional = true }
watchmen-storage-mssql = { version = "17.0.1", optional = true }
watchmen-storage-postgresql = { version = "17.0.1", optional = true }

[tool.poetry.dev-dependencies]

[tool.poetry.extras]
mysql = ["watchmen-storage-mysql"]
oracle = ["watchmen-storage-oracle"]
mongodb = ["watchmen-storage-mongodb"]
mssql = ["watchmen-storage-mssql"]
postgresql = ["watchmen-storage-postgresql"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
