[tool.poetry]
name = "watchmen-rest-doll"
version = "16.5.22"
description = ""
authors = ["botlikes <75356972+botlikes456@users.noreply.github.com>"]
license = "MIT"
packages = [
    { include = "watchmen_rest_doll", from = "src" }
]

[tool.poetry.dependencies]
python = "^3.9"
passlib = "^1.7.4"
bcrypt = "^3.2.0"
python-multipart = "^0.0.5"
watchmen-lineage = "16.5.22"
watchmen-data-surface = "16.5.22"
watchmen-collector-surface = { version = "16.5.22", optional = true }
watchmen-pipeline-surface = "16.5.22"
watchmen-inquiry-surface = "16.5.22"
watchmen-inquiry-trino = { version = "16.5.22", optional = true }
watchmen-indicator-surface = "16.5.22"
watchmen-storage-mysql = { version = "16.5.22", optional = true }
watchmen-storage-oracle = { version = "16.5.22", optional = true }
watchmen-storage-mongodb = { version = "16.5.22", optional = true }
watchmen-storage-mssql = { version = "16.5.22", optional = true }
watchmen-storage-postgresql = { version = "16.5.22", optional = true }
watchmen-storage-oss = { version = "16.5.22", optional = true }
watchmen-storage-s3 = { version = "16.5.22", optional = true }
kafka-python = { version = "^2.0.2", optional = true }
aiokafka = { version = "^0.7.2", optional = true }
aio-pika = { version = "^7.1.2", optional = true }
starlette-prometheus = { version = "^0.9.0", optional = true }
requests = { version = "^2.27.1", optional = true }
python3-saml = { version = "^1.14.0", optional = true }
cryptography = { version = "^36.0.2", optional = true }
uvloop = "^0.17.0"

[tool.poetry.dev-dependencies]

[tool.poetry.extras]
trino = ["watchmen-inquiry-trino"]
mysql = ["watchmen-storage-mysql", "cryptography"]
oracle = ["watchmen-storage-oracle"]
mongodb = ["watchmen-storage-mongodb"]
mssql = ["watchmen-storage-mssql"]
postgresql = ["watchmen-storage-postgresql"]
oss = ["watchmen-storage-oss"]
s3 = ["watchmen-storage-s3"]
collector = ["watchmen-collector-surface"]
kafka = ["kafka-python", "aiokafka"]
rabbit = ["aio-pika"]
prometheus = ["starlette-prometheus"]
standard_ext_writer = ["requests"]
es_ext_writer = []
sso = ["python3-saml", "cryptography"]


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[[tool.poetry.source]]
name = "foo"
url = "https://pypi.org/simple/"
default = true