[tool.poetry]
name = "watchmen-rest-doll"
version = "16.0.38"
description = ""
authors = ["botlikes <75356972+botlikes456@users.noreply.github.com>"]
license = "MIT"
packages = [
    { include = "watchmen_rest_doll", from = "src" }
]

[tool.poetry.dependencies]
python = "^3.9"
passlib = "^1.7.4"
bcrypt = "^3.2.0"
python-multipart = "^0.0.5"
watchmen-data-surface = "16.0.38"
watchmen-pipeline-surface = "16.0.38"
watchmen-inquiry-surface = "16.0.38"
watchmen-inquiry-trino = { version = "16.0.38", optional = true }
watchmen-storage-mysql = { version = "16.0.38", optional = true }
watchmen-storage-oracle = { version = "16.0.38", optional = true }
watchmen-storage-mongodb = { version = "16.0.38", optional = true }
watchmen-storage-mssql = { version = "16.0.38", optional = true }

[tool.poetry.dev-dependencies]

[tool.poetry.extras]
trino = ["watchmen-inquiry-trino"]
mysql = ["watchmen-storage-mysql"]
oracle = ["watchmen-storage-oracle"]
mongodb = ["watchmen-storage-mongodb"]
mssql = ["watchmen-storage-mssql"]
kafka = ["kafka-python", "aiokafka"]
rabbit = ["aio-pika"]
prometheus = ["starlette-prometheus"]
standard_ext_writer = ["requests"]
es_ext_writer = []

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
