[tool.poetry]
name = "watchmen-pipeline-surface"
version = "16.4.10"
description = ""
authors = ["botlikes <75356972+botlikes456@users.noreply.github.com>"]
license = "MIT"
packages = [
    { include = "watchmen_pipeline_surface", from = "src" }
]

[tool.poetry.dependencies]
python = "^3.9"
watchmen-pipeline-kernel = "16.4.10"
watchmen-rest = "16.4.10"
watchmen-storage-mysql = { version = "16.4.10", optional = true }
watchmen-storage-oracle = { version = "16.4.10", optional = true }
watchmen-storage-mongodb = { version = "16.4.10", optional = true }
watchmen-storage-mssql = { version = "16.4.10", optional = true }
watchmen-storage-postgresql = { version = "16.4.10", optional = true }
watchmen-collector-kernel = { version = "16.4.10", optional = true }
kafka-python = { version = "^2.0.2", optional = true }
aiokafka = { version = "^0.7.2", optional = true }
aio-pika = { version = "^7.1.2", optional = true }
requests = { version = "^2.27.1", optional = true }

[tool.poetry.dev-dependencies]

[tool.poetry.extras]
mysql = ["watchmen-storage-mysql"]
oracle = ["watchmen-storage-oracle"]
mongodb = ["watchmen-storage-mongodb"]
mssql = ["watchmen-storage-mssql"]
postgresql = ["watchmen-storage-postgresql"]
collector = ["watchmen-collector-kernel"]
kafka = ["kafka-python", "aiokafka"]
rabbitmq = ["aio-pika"]
standard_ext_writer = ["requests"]
es_ext_writer = []

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
