[tool.poetry]
name = "watchmen-pipeline-surface"
version = "17.0.0"
description = ""
authors = ["botlikes <75356972+botlikes456@users.noreply.github.com>"]
license = "MIT"
packages = [
    { include = "watchmen_pipeline_surface", from = "src" }
]

[tool.poetry.dependencies]
python = "~3.12"
watchmen-pipeline-kernel = "17.0.0"
watchmen-rest = "17.0.0"
watchmen-storage-mysql = { version = "17.0.0", optional = true }
watchmen-storage-oracle = { version = "17.0.0", optional = true }
watchmen-storage-mongodb = { version = "17.0.0", optional = true }
watchmen-storage-mssql = { version = "17.0.0", optional = true }
watchmen-storage-postgresql = { version = "17.0.0", optional = true }
kafka-python = { version = "^2.0.2", optional = true }
aiokafka = { version = "^0.11.0", optional = true }
aio-pika = { version = "^9.4.2", optional = true }
requests = { version = "^2.32.3", optional = true }

[tool.poetry.dev-dependencies]

[tool.poetry.extras]
mysql = ["watchmen-storage-mysql"]
oracle = ["watchmen-storage-oracle"]
mongodb = ["watchmen-storage-mongodb"]
mssql = ["watchmen-storage-mssql"]
postgresql = ["watchmen-storage-postgresql"]
collector = ["watchmen-collector-kernel"]
kafka = ["kafka-python", "aiokafka"]
rabbitmq = ["aio-pika"]
standard_ext_writer = ["requests"]
es_ext_writer = []

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
