[tool.poetry]
name = "watchmen-collector-surface"
version = "16.5.22"
description = ""
authors = ["botlikes <75356972+botlikes456@users.noreply.github.com>"]
license = "MIT"
packages = [
    { include = "watchmen_collector_surface", from = "src" }
]

[tool.poetry.dependencies]
python = "^3.9"
watchmen-collector-kernel = "16.5.22"
watchmen-pipeline-kernel = "16.5.22"
watchmen-rest = "16.5.22"
watchmen-storage-mysql = { version = "16.5.22", optional = true }
watchmen-storage-oracle = { version = "16.5.22", optional = true }
watchmen-storage-mongodb = { version = "16.5.22", optional = true }
watchmen-storage-mssql = { version = "16.5.22", optional = true }
watchmen-storage-postgresql = { version = "16.5.22", optional = true }
watchmen-storage-oss = { version = "16.5.22", optional = true }
watchmen-storage-s3 = { version = "16.5.22", optional = true }

[tool.poetry.dev-dependencies]

[tool.poetry.extras]
mysql = ["watchmen-storage-mysql"]
oracle = ["watchmen-storage-oracle"]
mongodb = ["watchmen-storage-mongodb"]
mssql = ["watchmen-storage-mssql"]
postgresql = ["watchmen-storage-postgresql"]
oss = ["watchmen-storage-oss"]
s3 = ["watchmen-storage-s3"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

