name: Publish to Pypi excepts doll

on:
  workflow_call:
    secrets:
      PIP_USERNAME:
        required: true
      PIP_PASSWORD:
        required: true
      PYPI_TOKEN:
        required: true
    inputs:
      branch:
        description: Pre-release branch
        required: true
        type: string
      version:
        description: Target version
        required: true
        type: string

# check out given pre-release branch
# build and publish to Pypi
jobs:
  build-and-publish:
    name: Package modules and publish
    runs-on: ubuntu-latest
    steps:
      - name: Echo inputs
        run: |
          echo "Pre-release branch: [${{ inputs.branch }}]"
          echo "Target version: [${{ inputs.version }}]"
      - name: Check out the repo
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.branch }}
      - name: Setup python
        uses: actions/setup-python@v3
        with:
          python-version: '3.12'
          architecture: 'x64'
      - name: Setup poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry
      - name: Package [watchmen-utilities] and publish to Pypi
        working-directory: ./packages/watchmen-utilities
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          poetry publish --build
      - name: Package [watchmen-model] and publish to Pypi
        working-directory: ./packages/watchmen-model
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          poetry publish --build
      - name: Package [watchmen-storage] and publish to Pypi
        working-directory: ./packages/watchmen-storage
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          poetry publish --build
      - name: Package [watchmen-storage-adls] and publish to Pypi
        working-directory: ./packages/watchmen-storage-adls
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          poetry publish --build
      - name: Package [watchmen-storage-mongodb] and publish to Pypi
        working-directory: ./packages/watchmen-storage-mongodb
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          poetry publish --build
      - name: Package [watchmen-storage-rds] and publish to Pypi
        working-directory: ./packages/watchmen-storage-rds
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          poetry publish --build
      - name: Package [watchmen-storage-mssql] and publish to Pypi
        working-directory: ./packages/watchmen-storage-mssql
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          poetry publish --build
      - name: Package [watchmen-storage-mysql] and publish to Pypi
        working-directory: ./packages/watchmen-storage-mysql
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          poetry publish --build
      - name: Package [watchmen-storage-oracle] and publish to Pypi
        working-directory: ./packages/watchmen-storage-oracle
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          poetry publish --build
      - name: Package [watchmen-storage-postgresql] and publish to Pypi
        working-directory: ./packages/watchmen-storage-postgresql
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          poetry publish --build
      - name: Package [watchmen-storage-oss] and publish to Pypi
        working-directory: ./packages/watchmen-storage-oss
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          poetry publish --build
      - name: Package [watchmen-storage-s3] and publish to Pypi
        working-directory: ./packages/watchmen-storage-s3
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          poetry publish --build
      - name: Package [watchmen-auth] and publish to Pypi
        working-directory: ./packages/watchmen-auth
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          poetry publish --build
      - name: Package [watchmen-rest] and publish to Pypi
        working-directory: ./packages/watchmen-rest
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          poetry publish --build
      - name: Package [watchmen-lineage] and publish to Pypi
        working-directory: ./packages/watchmen-lineage
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          poetry publish --build
      - name: Package [watchmen-meta] and publish to Pypi
        working-directory: ./packages/watchmen-meta
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          poetry publish --build
      - name: Package [watchmen-data-kernel] and publish to Pypi
        working-directory: ./packages/watchmen-data-kernel
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          poetry publish --build
      - name: Package [watchmen-data-surface] and publish to Pypi
        working-directory: ./packages/watchmen-data-surface
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          poetry publish --build
      - name: Package [watchmen-pipeline-kernel] and publish to Pypi
        working-directory: ./packages/watchmen-pipeline-kernel
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          poetry publish --build
      - name: Package [watchmen-collector-kernel] and publish to Pypi
        working-directory: ./packages/watchmen-collector-kernel
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          poetry publish --build
      - name: Package [watchmen-collector-surface] and publish to Pypi
        working-directory: ./packages/watchmen-collector-surface
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          poetry publish --build
      - name: Package [watchmen-pipeline-surface] and publish to Pypi
        working-directory: ./packages/watchmen-pipeline-surface
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          poetry publish --build
      - name: Package [watchmen-inquiry-trino] and publish to Pypi
        working-directory: ./packages/watchmen-inquiry-trino
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          poetry publish --build
      - name: Package [watchmen-inquiry-kernel] and publish to Pypi
        working-directory: ./packages/watchmen-inquiry-kernel
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          poetry publish --build
      - name: Package [watchmen-inquiry-surface] and publish to Pypi
        working-directory: ./packages/watchmen-inquiry-surface
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          poetry publish --build
      - name: Package [watchmen-dqc] and publish to Pypi
        working-directory: ./packages/watchmen-dqc
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          poetry publish --build
      - name: Package [watchmen-rest-dqc] and publish to Pypi
        working-directory: ./packages/watchmen-rest-dqc
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          poetry publish --build
      - name: Package [watchmen-indicator-kernel] and publish to Pypi
        working-directory: ./packages/watchmen-indicator-kernel
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          poetry publish --build
      - name: Package [watchmen-indicator-surface] and publish to Pypi
        working-directory: ./packages/watchmen-indicator-surface
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          poetry publish --build
      - name: Package [watchmen-rest-doll] and publish to Pypi
        working-directory: ./packages/watchmen-rest-doll
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          poetry publish --build
      - name: Package [watchmen-cli] and publish to Pypi
        working-directory: ./packages/watchmen-cli
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          poetry publish --build
      - name: Package [watchmen-metricflow] and publish to Pypi
        working-directory: ./packages/watchmen-metricflow
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          poetry publish --build
