name: Align version

on:
  workflow_call:
    inputs:
      ref:
        description: The branch or tag name.
        required: true
        type: string
      branch:
        description: Pre-release branch
        required: true
        type: string
      version:
        description: Target version
        required: true
        type: string

jobs:
  align-version:
    name: Align module versions
    runs-on: ubuntu-latest
    steps:
      - name: Echo inputs
        run: |
          echo "Ref: [${{ inputs.ref }}]"
          echo "Pre-release branch: [${{ inputs.branch }}]"
          echo "Target version: [${{ inputs.version }}]"
      - name: Check out the repo
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.ref }}
      - name: Change version [watchmen-utilities]
        uses: ./.github/actions/change-poetry-version/
        id: change-poetry-version-utilities
        with:
          module-name: watchmen-utilities
          target-version: ${{ inputs.version }}
      - name: Change version [watchmen-model]
        uses: ./.github/actions/change-poetry-version/
        id: change-poetry-version-model
        with:
          module-name: watchmen-model
          target-version: ${{ inputs.version }}
      - name: Change version [watchmen-storage]
        uses: ./.github/actions/change-poetry-version/
        id: change-poetry-version-storage
        with:
          module-name: watchmen-storage
          target-version: ${{ inputs.version }}
      - name: Change version [watchmen-storage-adls]
        uses: ./.github/actions/change-poetry-version/
        id: change-poetry-version-storage-adls
        with:
          module-name: watchmen-storage-adls
          target-version: ${{ inputs.version }}
      - name: Change version [watchmen-storage-mongodb]
        uses: ./.github/actions/change-poetry-version/
        id: change-poetry-version-storage-mongodb
        with:
          module-name: watchmen-storage-mongodb
          target-version: ${{ inputs.version }}
      - name: Change version [watchmen-storage-rds]
        uses: ./.github/actions/change-poetry-version/
        id: change-poetry-version-storage-rds
        with:
          module-name: watchmen-storage-rds
          target-version: ${{ inputs.version }}
      - name: Change version [watchmen-storage-mssql]
        uses: ./.github/actions/change-poetry-version/
        id: change-poetry-version-storage-mssql
        with:
          module-name: watchmen-storage-mssql
          target-version: ${{ inputs.version }}
      - name: Change version [watchmen-storage-mysql]
        uses: ./.github/actions/change-poetry-version/
        id: change-poetry-version-storage-mysql
        with:
          module-name: watchmen-storage-mysql
          target-version: ${{ inputs.version }}
      - name: Change version [watchmen-storage-oracle]
        uses: ./.github/actions/change-poetry-version/
        id: change-poetry-version-storage-oracle
        with:
          module-name: watchmen-storage-oracle
          target-version: ${{ inputs.version }}
      - name: Change version [watchmen-storage-postgresql]
        uses: ./.github/actions/change-poetry-version/
        id: change-poetry-version-storage-postgresql
        with:
          module-name: watchmen-storage-postgresql
          target-version: ${{ inputs.version }}
      - name: Change version [watchmen-storage-oss]
        uses: ./.github/actions/change-poetry-version/
        id: change-poetry-version-storage-oss
        with:
          module-name: watchmen-storage-oss
          target-version: ${{ inputs.version }}
      - name: Change version [watchmen-storage-s3]
        uses: ./.github/actions/change-poetry-version/
        id: change-poetry-version-storage-s3
        with:
          module-name: watchmen-storage-s3
          target-version: ${{ inputs.version }}
      - name: Change version [watchmen-auth]
        uses: ./.github/actions/change-poetry-version/
        id: change-poetry-version-auth
        with:
          module-name: watchmen-auth
          target-version: ${{ inputs.version }}
      - name: Change version [watchmen-rest]
        uses: ./.github/actions/change-poetry-version/
        id: change-poetry-version-rest
        with:
          module-name: watchmen-rest
          target-version: ${{ inputs.version }}
      - name: Change version [watchmen-meta]
        uses: ./.github/actions/change-poetry-version/
        id: change-poetry-version-meta
        with:
          module-name: watchmen-meta
          target-version: ${{ inputs.version }}
      - name: Change version [watchmen-data-kernel]
        uses: ./.github/actions/change-poetry-version/
        id: change-poetry-version-data-kernel
        with:
          module-name: watchmen-data-kernel
          target-version: ${{ inputs.version }}
      - name: Change version [watchmen-data-surface]
        uses: ./.github/actions/change-poetry-version/
        id: change-poetry-version-data-surface
        with:
          module-name: watchmen-data-surface
          target-version: ${{ inputs.version }}
      - name: Change version [watchmen-pipeline-kernel]
        uses: ./.github/actions/change-poetry-version/
        id: change-poetry-version-pipeline-kernel
        with:
          module-name: watchmen-pipeline-kernel
          target-version: ${{ inputs.version }}
      - name: Change version [watchmen-collector-kernel]
        uses: ./.github/actions/change-poetry-version/
        id: change-poetry-version-collector-kernel
        with:
          module-name: watchmen-collector-kernel
          target-version: ${{ inputs.version }}
      - name: Change version [watchmen-collector-surface]
        uses: ./.github/actions/change-poetry-version/
        id: change-poetry-version-collector-surface
        with:
          module-name: watchmen-collector-surface
          target-version: ${{ inputs.version }}
      - name: Change version [watchmen-pipeline-surface]
        uses: ./.github/actions/change-poetry-version/
        id: change-poetry-version-pipeline-surface
        with:
          module-name: watchmen-pipeline-surface
          target-version: ${{ inputs.version }}
      - name: Change version [watchmen-lineage]
        uses: ./.github/actions/change-poetry-version/
        id: change-poetry-version-lineage
        with:
          module-name: watchmen-lineage
          target-version: ${{ inputs.version }}
      - name: Change version [watchmen-inquiry-trino]
        uses: ./.github/actions/change-poetry-version/
        id: change-poetry-version-inquiry-trino
        with:
          module-name: watchmen-inquiry-trino
          target-version: ${{ inputs.version }}
      - name: Change version [watchmen-inquiry-kernel]
        uses: ./.github/actions/change-poetry-version/
        id: change-poetry-version-inquiry-kernel
        with:
          module-name: watchmen-inquiry-kernel
          target-version: ${{ inputs.version }}
      - name: Change version [watchmen-inquiry-surface]
        uses: ./.github/actions/change-poetry-version/
        id: change-poetry-version-inquiry-surface
        with:
          module-name: watchmen-inquiry-surface
          target-version: ${{ inputs.version }}
      - name: Change version [watchmen-indicator-kernel]
        uses: ./.github/actions/change-poetry-version/
        id: change-poetry-version-indicator-kernel
        with:
          module-name: watchmen-indicator-kernel
          target-version: ${{ inputs.version }}
      - name: Change version [watchmen-indicator-surface]
        uses: ./.github/actions/change-poetry-version/
        id: change-poetry-version-indicator-surface
        with:
          module-name: watchmen-indicator-surface
          target-version: ${{ inputs.version }}
      - name: Change version [watchmen-rest-doll]
        uses: ./.github/actions/change-poetry-version/
        id: change-poetry-version-rest-doll
        with:
          module-name: watchmen-rest-doll
          target-version: ${{ inputs.version }}
      - name: Change version [watchmen-dqc]
        uses: ./.github/actions/change-poetry-version/
        id: change-poetry-version-dqc
        with:
          module-name: watchmen-dqc
          target-version: ${{ inputs.version }}
      - name: Change version [watchmen-rest-dqc]
        uses: ./.github/actions/change-poetry-version/
        id: change-poetry-version-rest-dqc
        with:
          module-name: watchmen-rest-dqc
          target-version: ${{ inputs.version }}
      - name: Change version [watchmen-cli]
        uses: ./.github/actions/change-poetry-version/
        id: change-poetry-version-cli
        with:
          module-name: watchmen-cli
          target-version: ${{ inputs.version }}
      - name: Change version [watchmen-metricflow]
        uses: ./.github/actions/change-poetry-version/
        id: change-poetry-version-metricflow
        with:
          module-name: watchmen-metricflow
          target-version: ${{ inputs.version }}
      - name: Change Version [watchmen-web-client]
        uses: ./.github/actions/change-node-version/
        id: change-node-version-web-client
        with:
          module-name: watchmen-web-client
          target-version: ${{ inputs.version }}
      - name: Create pre release branch
        run: git checkout -b ${{ inputs.branch }}
      - name: Initialize mandatory git config
        run: |
          git config user.name "skywalkerX69"
          git config user.email skywalkerX69@outlook.com
      - name: Commit config and manifest files
        id: make-commit
        run: |
          git add .
          git commit --message "Module version aligned to [${{ inputs.version }}]"
          git tag pre-release-${{ inputs.version }}
      - name: Push new branch
        run: git push --force origin ${{ inputs.branch }} --tags